
.jobSeekerContainer {
  background-color: var(--white);
  height: 22.1875rem; /* 355px */
  width: 16.5rem; /* 264px */
  border-radius: 1rem; /* 16px */
  border: solid 1px var(--border01); 
  margin-top: 0.9375rem; /* 15px */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease, border 0.5s ease;
}

.jobSeekerContainer:hover {
  background-color: var(--Fifth);
  border: solid 0.0625rem var(--secondary); /* 1px */
  cursor: pointer;
}

.contentContainer {
  width: 13.25rem; /* 212px */
  margin: auto;
}

.circularImage {
  width: 5rem; /* 80px */
  height: 5rem; /* 80px */
  border: solid 0.0625rem var(--secondary); /* 1px */
  border-radius: 3.125rem; /* 50px */
}

.name {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
}

.jobTitle {
  color: var(--Paragraph02);
  font-size: 0.75rem; /* 12px */
  margin-bottom: 0px;
}

.salary {
  color: var(--secondary);
  font-size: 0.75rem; /* 12px */
  margin-bottom: 0.5rem; /* 8px */
}

.locationContainer {
  background-color: var(--border03);
  width: 5.875rem; /* 94px */
  height: 1.625rem; /* 26px */
  text-align: center;
  border-radius: 0.5rem; /* 8px */
  padding: 0.125rem; /* 2px */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.locationText {
  font-size: 0.75rem; /* 12px */
  margin-right: 1.25rem; /* 20px */
  color: var(--Paragraph02);
}

.separator {
  width: 13.25rem; /* 212px */
  margin: auto;
  margin-bottom: 0.875rem; /* 14px */
  margin-top: 0.875rem; /* 14px */
  border: solid 0.0625rem var(--border01); /* 1px */
}

.skillsContainer {
  width: 13.25rem; /* 212px */
  margin: auto;
}

.viewProfileButton {
  margin-top: 0.875rem; /* 14px */
  background-color: var(--secondary);
  color: var(--white);
  width: 100%;
}

.viewProfileButton:hover {
  background-color: var(--Third);
  color: var(--white);
}
