.skillContainer {
  background-color: #f6f7ff;
  width: 66px;
  height: 24px;
  text-align: center;
  border-radius: 8px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.skillText {
  font-size: 12px;
  margin-right: 20px;
  color: #727272;
  margin: 0; /* Equivalent to className="m-0" */
}
