<<<<<<< HEAD
=======

>>>>>>> e032bf6204847b17c1415ac6b22183ef17071bba
:root {
    --primary: #275C45;
    --secondary: #01A84D;
    --Third: #25D366;
    --Forth: #96E3B9;
    --Fifth:#FAFCF8;
    --background: #F6F7FF;
    --white: #ffffff;
    --Paragraph01: #262626;
    --Paragraph02: #727272;
    --PlaceHolder: #989DA6;
    --success: #3AAB67;
    --warning:#FF974C;
    --danger: #E45959;
    --border01:#B4E0D3;
    --border02:#DAEFF2;
    --border03:#EFF2FB;
    --gradient01: linear-gradient(#5DAE7B, #275C45);
    --gradient02: linear-gradient(#F9FFFE, #E7FFE0);
    --gradient03: linear-gradient(#FAFBFA, #E5EEDD);
}

<<<<<<< HEAD
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}



>>>>>>> e032bf6204847b17c1415ac6b22183ef17071bba
